[2015-06-17 09:29] nledez opened #1 "Add a README"
Explain project, ...

[2015-06-17 09:30] nledez opened #2 "Check if cozy/fqdn provided in installation"

[2015-06-17 09:31] nledez opened #3 "Check NodeJS version"
If an nodejs already install check version before continue.

[2015-06-17 14:58] viki53 opened #4 "Install failed - Check NodeJS version"
Hi,

I tried yesterday to install Cozy on my personal server (OVH KimSufi with Debian) so I could test Cozy (I'm currently using ownCloud but I'm more of a Node.js kinda guy now — my PHP era is almost over).

But I got the following error message (in French):

[code]

So basically some dependencies cannot be installed (even though most of them are already installed, like nodejs and npm).

Any idea

[2015-06-17 15:11] nledez commented on #4
Could you give me the response of command?:
`cat /etc/apt/sources.list /etc/apt/sources.list.d/*`

Thanks.

[2015-06-17 15:17] nledez commented on #4
And:

[code]

[2015-06-17 15:39] viki53 commented on #4
[code]

[code]

[code]

I think I installed nodejs manually a few months ago, so I may have not done it right…

[2015-06-18 10:17] nledez opened #5 "apt-get purge cozy doesn't work if cozy-monitor missing"
Removing cozy (1.3) ...
/var/lib/dpkg/info/cozy.prerm: 22: /var/lib/dpkg/info/cozy.prerm: cozy-monitor: not found
/var/lib/dpkg/info/cozy.prerm: 24: /var/lib/dpkg/info/cozy.prerm: cozy-monitor: not found
dpkg: error processing package cozy (--purge):
 subprocess installed pre-removal script returned error exit status 127
Errors were encountered while processing:
 cozy
E: Sub-process /usr/bin/dpkg

[2015-06-18 14:59] nledez commented on #5
Fixed in 1.5

[2015-06-18 14:59] #5 closed, assigned to nobody

[2015-06-18 15:00] nledez commented on #2
Fixed in 1.4

[2015-06-18 15:00] #2 closed, assigned to nobody

[2015-06-18 15:02] nledez commented on #4
Same issue as #3

Can you give me this command too?

[code]

[2015-06-18 15:03] nono opened #6 "Add a warning about self-signed certificates"
Hi,

I've installed cozy with the debian package. Then, I tried to sync calendar and contacts with my android phone.I didn't see any warning about the self-signed certificate during the process.

There is a warning about it on http://cozy.io/fr/mobile/files.html#a-propos-des-certificats-auto-sign-s. I think it should be copy-pasted on https://cozy.myinstance.cc/#apps/sync/. Or on http://cozy.io/fr

[2015-06-18 16:16] viki53 commented on #4
That's weird…

[code]

[2015-06-18 21:09] clochix commented on #4
/usr/local/bin/node is probably a symlink, you can try:

[code]

[2015-06-18 21:16] viki53 commented on #4
Nope. It's a symlink, but following it doesn't seem to solve the issue…

[code]

I'm not really familiar with Debian (I basically do some `apt-get upgrade` and `npm start` and stuff like that most of the time)

[2015-06-18 23:52] nledez commented on #4
How do you installed nodejs? Manually?

[2015-06-19 07:23] viki53 commented on #4
I'm not really sure, but I think I did it manually, yes.

I've been trying to update it (to v0.12.x) for two days from the package manager, but it doesn't seem to work…

---

[EDIT] Okay, I think I finally managed to remove the old package and install the new one. I'll just check that my current projects still work and I'll try to run Cozy Cloud again

[2015-06-19 07:44] nledez commented on #4
One of problems with Debian packaging. If you install a software manualy, it's harder for Debian to deal with this.

May be you need to clean your manual installation before retry a new installation.

Another solution if you are very sure about your installation is to make a dummy package:
http://eric.lubow.org/2010/system-administration/creating-dummy-packages-on-debian/

[2015-06-19 07:48] viki53 commented on #4
Now that Node.js is properly installed, the message is shorter:

[code]

I tried running some `npm install -g coffescript && npm install -g couchdb`, but this error is still there as these are only npm packages.

Maybe I need to remove some _cached_ files from before?

[2015-06-19 08:06] nledez commented on #4
Are you on Debian Jessie with this repository:
http://cozy.io/en/host/install/install-on-debian.html

[2015-06-19 08:14] viki53 commented on #4
Oops, looks like I'm still on Debian 7.5.

I just read [the update manual (FR)](https://www.debian.org/releases/stable/i386/release-notes/ch-upgrading.fr.html) and it looks pretty risky to update without a backup, so I'll have to wait a little until I can clear everything out. Or maybe there's a Cozy version for Debian 7.5?

[2015-06-19 08:32] nledez commented on #4
Ok, I understand all your problems now.

There are many way to install cozy. A virtual machine or container on your current host.

Or our fabric cozy-setup:
https://github.com/cozy/cozy-setup

[2015-06-22 12:55] tykayn opened #7 "auto redirect to https is missing in Apache"
after setting up my cozy cloud on a ubuntu 14.04 server with the tutorial on the site,
adding a dns entry (field type A) for my server, i was unable to reach my cozy sub domain.

the https auto redirect wasnt done, it lead to the apache2 default localhost webpage.

then, i accessed the https homepage to register my user, and the form was displayed.
but after filling and checking the fields were va

[2015-06-25 13:28] ebretteville commented on #5
So we have to install it to be able to uninstall it?!

[2015-07-02 19:06] nledez opened #8 "cozy Couch database stay after a purge"
If you launch a `apt-get purge cozy` the script leave database in CouchDB.

[2015-07-16 18:16] frankrousseau commented on #7
Thank you @tykayn for reporting.

@nledez @Kloadut any idea?

[2015-07-16 18:44] nledez commented on #7
Hello, @tykayn,

It's because the Apache redirect is missing.

[2015-07-23 13:48] nledez commented on #7
Solved by 1.9 36f27a23edfcdb52e33075667432b0ab1b4dd97f

@tykayn, you can test the upgrade . And tell me if it solved your problem?

If yes. Thank's to close the issue.

[2015-07-24 09:31] nledez opened #9 "Set domain"
Do a cozy set domain after installation

[2015-07-24 15:09] nledez commented on #8
Fixed with 0134eb0ba5efa165d14f21612221827c3e4221e0

[2015-07-24 15:09] #8 closed, assigned to nobody

[2015-07-24 15:10] nledez opened #10 "Add defaults app at installation"

[2015-07-24 20:36] nledez commented on #9
Fixed by 4e1ae87430503bbbecad6d1416baadec75679f89

[2015-07-24 20:36] #9 closed, assigned to nobody

[2015-07-24 21:04] nledez commented on #6
Fixed by 36d5e2f639d10f4e20695e49d566550f08821b7e

@nono could you test it and close issue if it's good for you? Thanks.

[2015-07-24 22:11] nono commented on #6
Thanks! It's good for me.

[2015-07-24 22:11] #6 closed, assigned to nobody

[2015-07-24 22:33] nledez commented on #10
Fixed in b8278ae424290fed8f5a306a90aec294135aa706

[2015-07-24 22:33] #10 closed, assigned to nobody

[2015-07-24 22:35] nledez commented on #4
Duplicate with #3

[2015-07-24 22:35] #4 closed, assigned to nobody

[2015-07-27 22:12] nledez opened #11 "OSError: [Errno 13] Permission denied: 'indexes'"
[code]

[2015-07-27 22:13] nledez commented on #11
Fixed in fd0d982d9a690b9fa2d951994788a04c92cfdc86

[2015-07-27 22:13] #11 closed, assigned to nobody

[2015-07-28 08:32] nicofrand opened #12 "Minor typos (do not impact the proper functioning)"
Bonjour,

quelques typos qui n'impactent pas le fonctionnement, "allready" au lieu de "already" :

https://github.com/cozy/cozy-debian/blob/fd0d982d9a690b9fa2d951994788a04c92cfdc86/debian/postinst#L101

https://github.com/cozy/cozy-debian/blob/fd0d982d9a690b9fa2d951994788a04c92cfdc86/debian/postinst#L109

[2015-07-28 09:29] clochix commented on #12
Merci @nicofrand ☺
@nledez va corriger cela.

[2015-07-28 09:52] #7 closed, assigned to nobody

[2015-07-28 09:54] nledez commented on #12
Merci @nicofrand,

C'est corrigé dans e11003834f14a9b0325fb8601236e4f60912ae5f.

Ce sera dans le prochain package Debian.

[2015-07-28 09:54] #12 closed, assigned to nobody

[2015-07-28 12:43] nledez commented on #3
Version >= 0.10.34

[2015-08-05 08:27] nicofrand opened #13 "Do not wait too long for couchdb/indexer/controller"
If couchdb or cozy-indexer or cozy-controller won't start at all for any reason, the installation process keeps running indefinitely due to :

https://github.com/cozy/cozy-debian/blob/master/debian/postinst#L44
https://github.com/cozy/cozy-debian/blob/master/debian/postinst#L72
https://github.com/cozy/cozy-debian/blob/master/debian/postinst#L86

The real issue is that the installation cannot be ab

[2015-08-05 08:43] nicofrand commented on #3
It did not work with 0.12+ (see https://forum.cozy.io/t/solved-debian-installation-depuis-depot/998/10).
The current default version on Debian Jessie is 0.10.29.

[2015-08-05 13:00] nicofrand opened #15 "Cozy-indexer config file not removed by purge"
It seems that the purge command does not properly remove the cozy-indexer config files (same for cozy-controller).

Here are the logs from `apt-get purge cozy` instantly followed by `apt-get install cozy` :

[code]

[2015-08-08 08:32] nledez commented on #3
Closed with be881ffa0530df1849d184d3f2117c997e207dcb. Could you check it @nicofrand  (when package is released)?

And if it's works for you, closed the issue.

[2015-08-08 09:18] nledez commented on #13
Fixed with 83291f0fd70e6f503ae84ef5387c5fe0fd56a1a6.
@nicofrand When the package is released, can you try it and close the issue if you thinks it's done.

Side effect: the Ctrl-C work now :)

[2015-08-08 16:43] nledez commented on #15
May be fixed in ab8cadc01f9002dcb5b793aa7312874fe71a6259.

[2015-08-10 06:47] nicofrand commented on #3
I will install a debian VM and try this out.

How I plan to do it: install nodejs 0.12 from nodesource.com:

[code]

And then install cozy.

[2015-08-10 06:50] nicofrand commented on #13
I will.
The installation is blocked when waiting for the controlller if the cozy-controller.conf is incorrect. To check if the patch works, simply removing the file and making a "touch" should be enough:

[code]

[2015-08-13 12:01] aenario commented on #3
Cozy will not work with node v0.12.xx. You need to install the highest v0.10.xx

[2015-08-16 18:03] viki53 opened #16 "Install fails (proxy)"
I finally moved to Debian 8 (even though I still have some issues with Apache), so I decided to try again installing Cozy

And I got this:

[code]

Any idea what went wrong this time?

Also, I already have an Apache server and I saw you're using nginx: won't this create any conflict at some level?

---

EDIT: I tried again this morning after purging (`apt-get purge cozy`), same result…

[2015-08-17 12:05] frankrousseau commented on #16
@Kloadut Can you answer to this issue?

[2015-08-17 12:05] frankrousseau commented on #16
I don't have any idea, the proxy should install easily. How much RAM does your server have?

[2015-08-17 12:15] viki53 commented on #16
RAM is 4 GB

Here's what the Kimsufi admin tells me:

[2015-08-17 17:21] frankrousseau commented on #3
@aenario I think @nicofrand wants to check if the package detects well that the node version is wrong.

[2015-08-17 17:22] clochix commented on #16
Hi @viki53,
We just published a new documentation page with some advice on [how to diagnose problems](http://cozy.io/en/host/diagnose.html) on your server. Could you run the diagnosis script mentioned at the bottom and give us the result ? Thanks !

[2015-08-17 17:23] nicofrand commented on #3
Yup that's right (I talked about it with @aenario on IRC ;)).

Le lun. 17 août 2015 19:21, Frank Rousseau notifications@github.com a
écrit :

[2015-08-17 21:38] viki53 commented on #16
Here's the output (except the first line that identifies my server):

[code]

[2015-08-19 10:49] clochix commented on #16
Hi @viki53,
What version on Node are you using ? Cozy only works with 0.10.x for now, and it seems you're using 0.12.7 Could you check ?

[2015-08-19 10:58] aenario commented on #3
Yep, sorry again for speaking before thinking :)

[2015-08-19 11:02] viki53 commented on #16
Yes, I have the latest version installed. Is that really a problem to have a newer version?

[2015-08-19 11:32] clochix commented on #16
Unfortunately yes, as new versions of Node are not backward compatibles, some API have changed and we now Cozy doesn't work with Node 0.12. If you don't have any other application depending on version 0.12, you should install latest 0.10 package. Otherwise, there are some solutions allowing to use different versions of Node in parallel.

[2015-08-31 13:01] clochix commented on #16
Hello @viki53, any news ? Did you manage to switch to Node 0.10 and install Cozy ?

[2015-08-31 13:05] viki53 commented on #16
Sorry, I haven't had time yet to test my projects to check if they work with Node 0.10 (but I doubt it, as most dependencies are pretty recent).

Any idea when Cozy will be compatible with newer versions of Node.js?

[2015-08-31 14:40] clochix commented on #16
We are working on it, but it's not one of our top priorities, so we have no ETA for now.

Maybe could you try to use some Node version manager, like [nvm](https://github.com/creationix/nvm) or [ndenv](https://github.com/riywo/ndenv).

[2015-09-14 21:46] jeekajoo opened #17 "no sysvinit script for couchdb"
Hi,

I'm using debian jessie in a LXC.
Official documentation advises to switch back to Sysvinit because of incompatility with systemd: https://wiki.debian.org/LXC#Incompatibility_with_systemd
This is what I did.
But it looks like there is no init script in your couchdb package: https://github.com/nledez/cozy-couchdb-debian. So it won't start and installs fails.. Too bad.
Am I wrong with my observ

[2015-10-05 09:52] clochix opened #18 "Test npm version"
Some users have installed npm manually and encounter problem installing some packages. We should probably check the installed npm version (in the install script or in the diagnose script).

[2015-10-05 10:53] frankrousseau commented on #18
I think it would be simpler to move Cozy to Node 4

[2015-10-05 13:08] clochix commented on #18
Last week, some user had strange bugs when installing the .deb or updating their apps. It appears that what because they installed npm with npm itself, instead of using the one packaged with Debian. I think we'll still encounter that sort of problem after moving to Node 4, so it's worth adding two line of script to check the version of npm.

[2015-10-15 08:08] viki53 commented on #16
Hi,

Any news about this?

I tried installing nvm to use Node 0.10.40 but didn't get much luck when trying to install Cozy again.

[2015-10-15 08:18] clochix commented on #16
Hi @viki53,
We are still working on supporting Node 0.12. I haven't fully tested all the applications now, but the next versions, awaited in a few days, should mostly work with Node 0.12. Stay tuned !

[2015-10-15 08:27] viki53 commented on #16
Great!

What about Node 4.2? Have you tested it too?

I'm pretty impatient to test Cozy if I can replace ownCloud with its slow and buggy behavior…

[2015-10-15 09:04] frankrousseau commented on #16
Yes, we want to move to Node 4.2. It's the first version labelized as a Long Term Support version.

[2015-10-15 09:17] clochix commented on #16
Not yet, but it's definitively on our roadmap, as this version is a LTS.

[2015-10-15 09:19] viki53 commented on #16
Awesome!

Any idea when the next version will be released on Debian repos?

Also, I can't seem to find a timeline of the versions or a changelog. Am I missing something?

[2015-10-16 09:24] nicofrand commented on #16
For the changelog, I agree that might be a little difficult to find but here it is: https://cozy.io/en/hack/releases/

[2015-10-16 09:39] viki53 commented on #16
Thanks!

[2015-11-02 15:32] clochix opened #19 "Catch errors in cozy-get-instance-param.py"
We should display a more useful error message when the script is unable to fetch the instance. For now, the script throws an exception, and users don't know what to do:

[code]

[2015-11-02 17:48] #19 closed, assigned to nobody

[2015-11-03 18:47] clochix opened #20 "Update ciphers order in Nginx config to get rid of a Chrome warning"
Cf [this thread](https://forum.cozy.io/t/some-strange-with-the-https-message-from-chrome/1490/9). We may want to update the ciphers order.

[2015-11-03 18:52] nledez opened #21 "Add an auto compact for CouchDB database"
As discuss with @babolivier we can add auto-compact on CouchDB

[2015-11-03 21:33] frankrousseau commented on #21
Thank you @nledez. Can you describe more what this issue is about? It makes the understanding easier for the repository visitor.

[2015-11-03 22:39] babolivier commented on #21
@frankrousseau I'll allow myself to explain as we discussed this issue together with @nledez.
Some self-hosted users (a lot of them?) aren't aware of the fact that, in order for the database not to fill all the available disk space with data, you have to compact it frequently. This feature aims to automating this action (via a cron task for example), so Cozy doesn't mess the machine if the user fo

[2015-11-04 08:03] aenario commented on #21
What was the reasoning against using couchdb auto compact feature ?

[2015-11-04 08:42] nledez commented on #21
It's for the Debian package. Self hosting users can be auto-compacted.

[2015-11-17 16:32] clochix opened #22 "PGP key has just expired"
The key used to sign the package has just expired.
Once updated, we probably also need to update the doc.

[2015-11-17 17:24] nledez commented on #22
Key validity is now extend to 2016-11-16.

May be we need to update cozy.io with new fingerprint:
`pub   2048R/2765B235 2014-11-17 [expires: 2016-11-16]
      Key fingerprint = E28C F8B2 ABBF E285 743B  27F1 BCB2 ED5D 2765 B235
uid                  Cozy Debian Packaging <debian-packaging@cozycloud.cc>`

[2015-11-20 13:24] clochix commented on #22
Documentation updated in cozy/cozy-docs#207
Thanks @nledez

[2015-11-20 13:24] #22 closed, assigned to nledez

[2015-11-25 08:36] nledez commented on #1
Closed with 483e60e15932b840de3697d03ca297f0d40125c0

[2015-11-25 08:36] #1 closed, assigned to nobody

[2015-12-16 13:59] fairyfeller commented on #16
I have exactly same problem - clean VDS with Debian 8.2 and Nginx + PHP-FPM

[code]

[2015-12-16 14:26] fairyfeller commented on #16
Also i tried to update Node to 0.12.0 and to 0.10.40, but still has no luck :(
Any chance on solving this ?

[code]

[2016-01-08 23:28] nledez commented on #18
I think it fixed by 183adc0a671203deda9eac73f5cfd65a7552f001

https://github.com/cozy/cozy-debian/blob/master/debian/cozy-depends.postinst#L25-L35

We can install the package "cozy-depends" before continue installation.

WDYT @clochix?

Can we close the issue?

[2016-01-08 23:32] nledez commented on #17
This issue was moved to cozy/couchdb-debian#1

[2016-01-08 23:32] #17 closed, assigned to nledez

[2016-01-11 16:28] clochix commented on #18
I do think this is definitively great !
Thanks !

[2016-01-11 16:28] #18 closed, assigned to nobody

[2016-02-11 22:47] nsteinmetz opened #25 "arm version ?"
Hi,

Is an arm version of packages planned to install cozy on arm boards such as cubietruck in my case ?

Thanks,
Nicolas

[2016-02-12 09:18] clochix commented on #25
Hi @nsteinmetz,

nice to see you here ;-)

We use to have an image for Cubietruck, but [we removed it](https://github.com/cozy/cozy-docs/commit/6c2ca444538e9bfba2724907f4cbe2eeac3c45fc#diff-d5f8969c4ea5107afe6aadc7bef1233a) as we have no time to update it. But I think you could easily install Cozy on your board, following our [step by step guide](https://docs.cozy.io/en/host/install/install-step-b

[2016-02-12 09:52] nsteinmetz commented on #25
Hi @clochix

Thanks for the warm welcome ;-)

I knew there were one cubietruck image in the past ; I followed the step by step guide as you could see with https://github.com/cozy/cozy-docs/issues/265 & https://github.com/cozy/cozy-controller/issues/107.

Let's see if I can achieve the step by step guide then and hopefully the `arm64` image for Pine will allow a `arm` build too ;-)

[2016-02-15 21:05] u1735067 opened #26 "ucf dependency needed (cozy-apt-node-list.postinst, line 32)"
When following https://docs.cozy.io/en/host/install/install-on-debian.html on a fresh debian:8 docker image, `cozy_management install_cozy` fails with `/var/lib/dpkg/info/cozy-apt-node-list.postinst: line 32: ucf: command not found`

[2016-02-15 23:25] nledez commented on #25
Hi @nsteinmetz,

Can you give me more information about your Linux?

`lsb_release -a ; uname -a`

Thanks.

[2016-02-16 09:40] clochix commented on #26
Thanks for reporting @Alex131089, @nledez will take care of adding the missing dependency to the package ☺

[2016-02-16 20:46] nsteinmetz commented on #25
Hi @nledez

Below the answer:

[code]

Just saw via the [tuto on rpi2](https://forum.cozy.io/t/tuto-cozy-raspberry-pi-2-application-android/2002) that you have an `armhf` repo but it lacks `couchdb` package:

[code]

[2016-02-16 23:52] nledez commented on #25
Hi all,

Thanks for response @nsteinmetz :)

Cozy build the CouchDB only for amd64. The armhf is provided by Raspbian.

We not planned to build CouchDB for other architecture.

To explain why, in the past I write this in french:
https://forum.cozy.io/t/packaging-debian-ubuntu/1082

[2016-03-19 08:11] clayt0nk opened #30 "Debian Testing: install fails because python-software-properties package missing"
Hi, the python-software-properties package seems to be entirely missing from the Debian archive after Jessie. Therefore on testing/unstable:

The following packages have unmet dependencies:
 cozy-depends : Depends: python-software-properties but it is not installable
E: Unable to correct problems, you have held broken packages.

And I cannot complete a normal install. Note that new Debian stable c

[2016-03-21 12:21] clochix commented on #30
Thanks for reporting @clayt0nk,

For the record, we only support Debian Stable channel. But we'll keep an eye on this to get prepared to the release of next stable version.

On Testing, maybe could you try the [python3-software-properties](https://packages.debian.org/stretch/python3-software-properties) package (looks like the package is only available for Python 3 in Testing and Sid.

[2016-03-22 07:54] clayt0nk commented on #30
For that to work, the Python bits of Cozy need to be Python3 ready, and your installer needs to know about it, otherwise I cannot finish the install process.

[2016-03-31 21:45] nledez commented on #30
Thanks for report @clayt0nk but as said @clochix we support only Jessie & Trusty at this time.

[2016-03-31 21:45] #30 closed, assigned to nledez

[2016-03-31 21:45] #25 closed, assigned to nobody

[2016-03-31 21:48] #3 closed, assigned to nobody

[2016-03-31 21:59] nledez commented on #26
Add in be881ffa0530df1849d184d3f2117c997e207dcb.

Thanks

[2016-03-31 21:59] #26 closed, assigned to nobody

[2016-05-22 17:04] vectr0n opened #31 "Signed SSL Cert Wiped Out"
When running apt-get update with the most recent cozy changes, it seems a change has been made to integrate letsencrypt certificates into Cozy Cloud. The new dialog that allows you to generate a self signed certificate, letsencrypt certificate, or none at all. Seeing as I have a signed certificate for Cozy I selected none, but to my surprise it has wiped out my signed certificate/key and replaced

[2016-05-23 08:39] nledez commented on #31
As @clochix can say in other place. I fix a typo in a990aab62eb0607b134112ee6708dea7a867d582.

Another posibly root cause is the filetype of '/etc/cozy/server.crt':

[code]

These files must be symbolic links.

[2016-05-24 08:33] clochix commented on #31
@nledez to be sure this won't ever happen again, could we replace all file deletion in our script and `cozy_management` by `mv foo foo.bak`.
This would protect against errors in our scripts and mistakes from the user.

[2016-05-24 17:02] vectr0n commented on #31
Because of this issue I no longer trust Cozy Cloud with my data, who's to say that another typo in an update won't wipe out all my files? Yes backups are important, but this whole ordeal made me no longer trust Cozy Cloud and I will never recommend it to anyone going forward.

[2016-05-24 20:26] frankrousseau commented on #31
Hello @vectr0n, we are sad to read your story. As you noticed @clochix and @nledez took it very seriously and fixed the problem as soon as possible.
We apologize for what happened and hope that losing your certificate was not too harmful. Thank you for taking time to write a bug report. It will avoid other people to face the same issue.

[2016-05-27 09:19] clochix commented on #31
Closing as the source of this issue has been fixed for some days now.

[2016-05-27 09:19] #31 closed, assigned to nobody

[2016-06-10 08:49] nikaro opened #32 "add ucf as dependency"
Hello,

Just tried to install Cozy in a fresh container and `cozy-apt-node-list` installation failed because `ucf` package was missing. May be it should be added as a dependency, or in the doc as a prerequisite.

[2016-06-11 20:27] aeris opened #33 "Blocking configure even with pre-config"
Config script [cozy-standalone.config](https://github.com/cozy/cozy-debian/blob/master/debian/cozy-standalone.config) is always blocking, even if debconf parameters were prefilled (`debconf-set-selections`).

This is problematic for unattended installation (image build) and all settings without user interaction (raspi first boot from official image).

[2016-06-16 14:44] clochix commented on #33
Thanks for reporting @aeris,

Who could fix this? You or @nledez ?

[2016-06-16 14:46] aeris commented on #33
I’m on it. Problems seems more build environment (systemd, chroot, ...) than this script.

[2016-06-17 18:29] clochix opened #34 "Add a message explaining Let's Encrypt requirements"
In order to sign the certificate, Let's Encrypt must be able to connect to the server on port 80 using the provided domain name.

The signing step often fails because this requirement is not fulfilled (for example because port 80 is filtered by firewall or not enabled in NAT). We should:
- display an explanation message
- maybe find a way to check this before trying to sign (with an external servi

[2016-06-19 19:02] clochix opened #35 "Delete cozy-* users when purging"
We should find a way to delete every users created by Cozy.

[2016-06-19 19:11] babolivier commented on #35
We can use this as a base:

[code]

This lists all users beginning with "cozy".

I tried it on my personnal server (after creating fake "cozy-" accounts), but didn't seem to be able to pipe `userdel` to this command line.

Alternatively, a `for` loop in a bash script should do the trick.

[2016-06-21 08:07] nono commented on #35
Maybe with `xargs`:

[code]

[2016-06-22 07:20] clochix commented on #35
@nono we should use a moar specific regex, like `^cozy\-`.

[2016-06-22 07:55] nono commented on #35
@clochix yes, my comment was just an answer to @babolivier to show `xargs`

[2016-06-28 06:23] sscherfke opened #37 "Create a package for Ubuntu Xenial (16.04)"
The latest LTS of Ubuntu has been released a few months ago.  It would be nice if you could provide a package for xenial (in addition to the one for trusty).

[2016-06-28 15:35] clochix commented on #37
Hi @sscherfke
Supporting Ubuntu 16.04 is definitively on our short term todo list. Unfortunately, we really have a lot of items on this list, so I can't give you an ETA.

[2016-06-28 15:44] sscherfke commented on #37
Knowing that it’s on your todo list is enough for the moment. :)

[2016-07-01 09:49] clochix opened #38 "Stop installation if npm version isn't 2"
Looks like installing controller fails with npm 3.
We should stop the installation with an explicit message, it will save us time when doing support ;-)

[2016-07-01 10:35] frankrousseau commented on #38
Yep, the controller is not compatible with Node 3.

[2016-07-04 15:17] clochix opened #39 "Check installation requirements"
We should stop installation or display a warning if some installation requirements are not met, for example on Debian architecture i386 or on devices with low memory.
Also related: #38

[2016-07-08 09:01] clochix opened #40 "Error copying supervisor configuration files"
Some users are reporting that when trying to install this package on Debian or Ubuntu, they get the following error message:

[code]

Looks like [ucf](https://github.com/cozy/cozy-debian/blob/a990aab62eb0607b134112ee6708dea7a867d582/debian/cozy-standalone.postinst#L71) is unable to copy the controller configuration file as it doesn't exist.
Maybe could we set the `UCF_FORCE_CONFFMISS` environement

[2016-07-08 09:16] clochix opened #41 "Let's encrypt: we need the certificate chain file"
Users using a Let's Encrypt certificate with Apache need to add a `SSLCertificateChainFile` directive with the chain file:

[code]

On Nginx, users should assure to use the fullchain file:

[code]

[2016-07-17 10:30] RobYed commented on #25
For anyone, who is still interested in running cozy on a Cubietruck with Docker:

You only need to replace the base image of the Dockerfile from
`ubuntu:14.04` to `armv7/armhf-ubuntu:14.04` and then build the docker container. I simply forked cozy-docker and edited the Dockerfile. So I was able to build with this command:

`sudo docker build -t cozy/full github.com/RobYed/cozy-docker`

I tested it

[2016-08-01 13:48] clochix opened #42 "Add support for Let's encrypt with Apache"
For now, we are only able to use Let's Encrypt to sign the server certificate if the user uses cozy-nginx. We should add LE support into cozy-apache (this may require updating `cozy_management`).

[2016-08-11 14:45] #13 closed, assigned to nobody

[2016-08-11 14:58] jsilvestre commented on #16
It's been fixed for a while now!

[2016-08-11 14:58] #16 closed, assigned to nobody

[2016-09-05 09:02] nicofrand commented on #42
See https://forum.cozy.io/t/lets-encrypt-https-auto-heberge/1738/11 for the configuration to use.

[2016-09-15 06:45] sscherfke commented on #37
Any updates on this?

[2016-09-26 17:42] jsilvestre commented on #37
Hi @sscherfke,

After I talked to the team, we decided not to push Xenial support in the next few weeks. We have literally tons of things to do, and supporting a new distribution is quite costly, given the current state of the platform (it's not well packaged for many reasons, which make testing time-consuming).

It was not an easy decision to make, and everyone would have preferered to do it, but

[2016-09-26 17:51] sscherfke commented on #37
Hi @jsilvestre ,
tanks for the update. Although it’s not what I wanted to hear, I can absolutely understand it.
Again, thx for your feedback! :)
Stefan

[2016-10-11 08:54] #35 closed, assigned to nobody

[2016-10-17 12:54] masfaraud opened #43 "Dependencies conflict with certbot"
Hi,

The installation with `cozy_management install_cozy` fails, in fact  installation of cozy-standalone fails because of dependencies conflict:

[code]

It is possible for the .deb to use newer versions of python-cff, python-cryptography and python-openssl to avoid this conflict?

[2016-10-17 15:49] clochix commented on #43
Thanks for reporting @masfaraud

[2016-10-18 10:06] clochix opened #44 "Improve CouchDB admin deletion"
The `reset_token` action require the couchdb user and password from `/etc/cozy/couchdb.login`. But if this file is lost or wrong, user has no way to drop CouchDB admin.
We should add some sort of hard delete that delete admin from CouchDB configuration and restart the server.
The best way to do this that I have found is:

[code]

[2016-10-18 11:57] clochix opened #45 "Better purge"
We should call `ucf --purge` on every file installed with `ucf`, whether they exist or not.
Sometime, the file as been deleted so it is not purged from Debian database, and trying to réinstall it result in `“Not replacing deleted config file`.

[2016-10-18 12:09] clochix opened #46 "Update the sample Apache configuration for Let's encrypt"
We should add an exception like in Nginx configuration, see https://github.com/cozy/cozy-debian/blob/master/nginx-config#L34

[2016-10-18 15:43] jsilvestre commented on #44
You are right, thank you @clochix !

[2016-10-18 15:44] jsilvestre commented on #45
You are right, thank you!

[2016-10-18 15:45] jsilvestre commented on #46
Indeed, thank you for reporting this!

[2016-11-11 16:50] Phyks opened #47 "Setting CORS headers in Nginx config"
Hi,

It seems no CORS header is set in the Nginx config. Then, when one installs the remoteStorage app and tries to use [Laverna](), they get

I think [this file](https://github.com/cozy-labs/cozy-docker/blob/master/nginx/cozy-ssl) should be updated as well. [This doc](https://docs.cozy.io/en/host/install/install-step-by-step.html#step-9-configure-a-reverse-proxy) should be updated as well.

Thank

[2016-11-14 21:17] Phyks commented on #47
Error was on my side, sorry for the noise :/

[2016-11-14 21:17] #47 closed, assigned to nobody

[2016-11-15 06:55] jcrben opened #48 "DigitalOcean install instructions don't work"
When I tried to follow the steps at https://docs.cozy.io/en/host/install/install-on-digitalocean.html using Debian 8.6 I get the following error at the `cozy_management install_cozy` step:

![image](https://cloud.githubusercontent.com/assets/5614134/20295949/fa94b34a-aabc-11e6-8ce7-13442bdd30e5.png)

Haven't figured out the fix. Seems that it was designed around 8.1 and 8.6 broke something. 8.1 no

[2016-11-15 07:22] jcrben commented on #48
Ended up following the https://docs.cozy.io/en/host/install/install-on-ubuntu.html which seem to work for DigitalOcean - by the way, at one point I was directed to learn about Cozy Mobile and self-signed certificates at https://davdroid.bitfire.at/faq/entry/importing-a-certificate/ but that seems to no longer go to an FAQ item - should have had your own link or an archive link there.

[2017-01-09 05:24] ashwinjagadeesh-zz opened #49 "Cozy for Pine64"
Is there an easy way to install cozy for Pine64? Dont think cozy supports arm 64 based debian installation as of now.

[2017-01-09 08:52] jsilvestre commented on #49
Hello @ashwinjagadeesh,

I won't be able to tell you exactly why it's not possible, but we tried and CouchDB (I think it was CouchDB) could not be installed at all on Pine64. So as of today, it's not possible. Since I'm not 100% sure if myself, I'll ask a colleague to correct me if I'm wrong.

Cheers,
Joseph.

[2017-01-09 09:07] jsilvestre commented on #49
Ok, my colleague @aeris tells me it's Node.js that can't be installed on Pine64! Since we are in the process of rewriting the backend in Go, we will tackle this problem again at some point. I can't give you any ETA for this, we hope that we'll be able to tackle this problem at the end of 2017, but we really don't know at this point.

[2017-01-13 17:47] babolivier commented on #49
Hi @jsilvestre and @ashwinjagadeesh,

That's not right, I have a Pine64 (currently laying in a bag) and remember using some Node.js apps on it 😄

Node.js's binaries for ARM64 can be downloaded on the [download page](https://nodejs.org/en/download/) under "ARMv8". Not sure it's correctly packaged for this architecture on Debian/Ubuntu, though.

However, I had troubles installing Cozy at the time be

[2017-01-28 22:36] severin-lemaignan commented on #37
Hello! Any update on this front?

[2017-01-31 15:38] clochix commented on #37
Hello @severin-lemaignan, thanks for your interest in Cozy ☺
A [major rewriting of Cozy is in progress](https://blog.cozycloud.cc/post/2016/11/21/On-the-road-to-Cozy-version-3). We are migrating the server part from node.js to golang. Once it has been done, in a few month, packaging Cozy should be way easier, and I hope we'll provide packages for newer versions of Ubuntu. But the current version w

[2017-01-31 15:41] severin-lemaignan commented on #37
ok! thanks for the update!

[2017-03-01 07:30] #32 closed, assigned to nobody

[2017-03-15 18:30] neurovertex commented on #43
No fix or workaround for this ?

[2017-03-16 10:50] clochix commented on #43
Hello @neurovertex,

We are aware of a compatibility issue between certbot and Cozy. I think you need to remove certbot to be able to install Cozy. Cozy use another Let's Encrypt client, [Acme Tiny](https://github.com/diafygi/acme-tiny).

[2017-10-15 16:06] Zeuh commented on #41
`SSLCertificateChainFile `is obsolete since apache 2.4.8 (Debian Stretch : 2.4.25)
https://httpd.apache.org/docs/2.4/fr/mod/mod_ssl.html#sslcertificatechainfile

With Debian Stretch you also used the `fullchain.pem` with `SSLCertificateFile` directive.

[2017-10-20 15:32] clochix commented on #41
Thanks @Zeuh 😄

For the record, this version of Cozy is now deprecated.

Please refer to https://docs.cozy.io/en/install/debian/ for installing the new version of Cozy.

[2017-10-20 15:34] clochix opened #50 "Mark this repository as obsolete"
Should we mark this repository as obsolete or move the files for Cozy V2 in a `deprecated` branch and push here the package for the new Cozy V3?

Ping @nledez @nono @aeris

[2017-10-20 15:36] clochix commented on #49
The Node.js version of Cozy is now deprecated.

To learn how to install the new version of Cozy, please refer to our (in progress) [documentation](https://docs.cozy.io/en/).

[2017-10-20 15:36] #49 closed, assigned to nobody

[2017-10-20 15:36] clochix commented on #48
The Node.js version of Cozy is now deprecated.

To learn how to install the new version of Cozy, please refer to our (in progress) [documentation](https://docs.cozy.io/en/).

[2017-10-20 15:36] #48 closed, assigned to nobody

[2017-10-20 15:37] clochix commented on #46
Closing, as this version of Cozy is now deprecated.

[2017-10-20 15:37] #46 closed, assigned to nobody

[2017-10-20 15:37] clochix commented on #45
Closing as this version of Cozy is now deprecated.

[2017-10-20 15:37] #45 closed, assigned to nobody

[2017-10-20 15:37] clochix commented on #44
Closing, as this version of Cozy is now deprecated.

[2017-10-20 15:37] #44 closed, assigned to nobody

[2017-10-20 15:38] clochix commented on #42
Closing, as the Node.js version of Cozy is now deprecated.

[2017-10-20 15:38] #42 closed, assigned to nobody

[2017-10-20 15:39] #41 closed, assigned to nobody

[2017-10-20 15:39] clochix commented on #40
Closing, as the Node.js version of Cozy is now deprecated.

[2017-10-20 15:39] #40 closed, assigned to nobody

[2017-10-20 15:39] clochix commented on #39
Closing, as the Node.js version of Cozy is now deprecated.

[2017-10-20 15:39] #39 closed, assigned to nobody

[2017-10-20 15:39] clochix commented on #38
Closing, as the Node.js version of Cozy is now deprecated.

[2017-10-20 15:39] #38 closed, assigned to nobody

[2017-10-20 15:40] clochix commented on #34
Closing, as the Node.js version of Cozy is now deprecated.

[2017-10-20 15:40] clochix commented on #33
Closing, as the Node.js version of Cozy is now deprecated.

[2017-10-20 15:40] #33 closed, assigned to nobody

[2017-10-20 15:40] clochix commented on #21
Closing, as the Node.js version of Cozy is now deprecated.

[2017-10-20 15:40] #21 closed, assigned to nobody

[2017-10-20 15:40] clochix commented on #20
Closing, as the Node.js version of Cozy is now deprecated.

[2017-10-20 15:41] clochix commented on #15
Closing, as the Node.js version of Cozy is now deprecated.

[2017-10-20 15:41] #15 closed, assigned to nobody

[2017-10-20 15:41] #34 closed, assigned to nobody

[2017-10-20 15:41] #20 closed, assigned to nobody

[2017-10-20 15:42] clochix commented on #43
The Node.js version of Cozy is now deprecated.

To learn how to install the new version of Cozy, please refer to our (in progress) [documentation](https://docs.cozy.io/en/).

[2017-10-20 15:42] #43 closed, assigned to nledez

[2017-10-20 15:42] clochix commented on #37
The Node.js version of Cozy is now deprecated.

To learn how to install the new version of Cozy, please refer to our (in progress) [documentation](https://docs.cozy.io/en/).

[2017-10-20 15:42] #37 closed, assigned to nobody

[2017-10-20 21:45] Zeuh commented on #41
@clochix : Perhaps adding an header in README.md of the project  ?

[2017-10-24 13:25] clochix commented on #41
@Zeuh yes, see #50
We should decide whether we mark this repository as obsolete of use it for the new Debian packages.

[2017-11-18 14:06] ArchangeGabriel commented on #50
At least do something. ;) When looking for the debian packaging scripts, I’ve found this repo only, which was quite old. Only later did I found https://github.com/cozy/debian-cozy…